body
{ 
	padding-top: 120px;
}

.navbar-lower
{
	position: absolute;
	top: 50px;
	width: 100%;
}

.panel-default
{
	border-color: #89B3D1;
}

.panel
{
	background-color: #749BD1;
}

.panel-default > .panel-heading
{
	background-color: #89B3D1;
	border-color: #89B3D1;
}

.panel-footer
{
	background-color: #89B3D1;
	border-color: #89B3D1;
}

.navbar-default .navbar-brand
{
	color: #FFF;
}

.navbar-default .navbar-nav > li > a
{
	color: #E4984E;
}

.navbar-default
{
	background-color: #749BD1;
	border-color: #5276A8;
}

@font-face
{
    font-family: brandFont;
    src: url(fonts/ROBOTECH_GP.ttf);
}

@font-face
{
    font-family: linkFont;
    src: url(fonts/robotaur.ttf);
}

carousel-inner > .item > img, .carousel-inner > .item > a > img
{
	height: 600px;
}
