body
{ 
	padding-top: 120px;
}

.navbar-lower
{
	position: absolute;
	top: 50px;
	width: 100%;
}

.panel-default
{
	border-color: #89B3D1;
}

.panel
{
	background-color: #749BD1;
}

.panel-heading .panel-footer
{
	background-color: #89B3D1;
	border-color: #89B3D1;
}

.navbar-brand
{
	color: #FFF;
}

.navbar-nav
{
	color: #E4984E;
}

.navbar-default
{
	background-color: #749B01;
	border-color: #5276A8;
}
